header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    background: #F8F8F9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
}
  
header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    margin-left: 2%;
    margin-top: 12px;
    width: 100%; height: auto; 
}


.logo p {
    color: #5f5f79;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    width: 120px;
}

header .logo .logo-img {
    width: 40px;
}

nav {
    padding: 20px;
    width: 100%;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #5f5f79;
     margin-left: 30px;
     margin-bottom: 8px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #808080;
    text-decoration: none;
}

nav ul li:not(:first-child) {
    margin-left: 25px;
}

#nav:checked + .nav-open {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(180deg);
            transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

#nav:checked + .nav-open i:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(90deg);
            transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.hidden {
    display: none;
}




@media screen and (max-width: 768px) {
    @keyframes up-right {
        0% {
            transform: scale(1);
            opacity: .25
        }
        50% {
            transform: scale (1, 5);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: .25;
        }
    }
    .live {
        margin-top: 5px;
        margin-right: 0;
        margin-left: 100%;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: red;
        -webkit-animation: up-right 1s infinite;
        -moz-animation: up-right 1s infinite;
        -o-animation: up-right 1s infinite;
        animation: up-right 1s infinite;
    }
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        z-index: -1;
        background: #1f2227;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .nav-container ul {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100%;
    }
    .nav-container ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        visibility: hidden;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .nav-container ul li:nth-child(1) a {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
    }
    .nav-container ul li:nth-child(2) a {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
    }
    .nav-container ul li:nth-child(3) a {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s;
    }
    .nav-container ul li:nth-child(4) a {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s;
    }
    .nav-container ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-open {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #1f2227;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
        visibility: visible;
    }
    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


.centered{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}