<header>
    <div class="logo">
        <img class="logo-img" src="../../assets/virus32.svg" alt="logo">
        <p>COVID19</p>
     </div>
     <nav>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>

        <div class="nav-container">
            <ul>
            <li><a [routerLink] = "'/'" onclick="hideNav();" class="anchor">Home</a></li>
            <li><a [routerLink] = "'/map'" onclick="hideNav();" class="anchor">Map</a></li>
            <li><a [routerLink] = "'/details'" onclick="hideNav();" class="anchor">Details</a></li>
            <li><a [routerLink] = "'/contact'" onclick="hideNav();" class="anchor">Contact Me</a></li>
            </ul>
        </div>
     </nav>
</header>
