<main>
    <div class="left">
       <div *ngIf="app.all_data!=null" class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Cases</div>
                <div class="panel-body">{{app.all_data.cases}}</div>
            </div>
        
            <div class="panel panel-success">
                <div class="panel-heading">Recovered</div>
                <div class="panel-body">{{app.all_data.recovered}}</div>
            </div>
        
            <div class="panel panel-danger">
                <div class="panel-heading">Deaths</div>
                <div class="panel-body">{{app.all_data.deaths}}</div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading date">Last updated on {{app.all_data.updated | date: 'dd-MMM-yyyy, hh:mm a' | uppercase}}</div>
            </div>
        </div>
    </div>
    <div class="middle">
        <img class="fivedos" src="../../assets/fivedos.gif" alt="Welcome">
    </div>
    <div class="right">
        <app-doughnut class="dough-css"  *ngIf="app.chartData!=null" [newChartData]="app.chartData"></app-doughnut>
    </div>
</main>