.detail-container {
    margin-top: 60px;
    max-height: calc(100vh - 60px);
    max-width: 100vw;
    overflow: auto;
    
  position: relative;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}
thead th:first-child {
  left: 0;
  z-index: 1;
}