<div class="map-container">
    <div id="vmap"></div>
    <div id="floating-data" class="floating-details">
        <div class="panel panel-primary">
            <div class="panel-heading">Total Cases</div>
            <div id="totcase" class="panel-body"></div>
        </div>
    
        <div class="panel panel-success">
            <div class="panel-heading">Recovered</div>
            <div id="totrec" class="panel-body"></div>
        </div>
    
        <div class="panel panel-danger">
            <div class="panel-heading">Deaths</div>
            <div id="totdeath" class="panel-body"></div>
        </div>

        <div class="panel panel-warning">
            <div id="country_name" class="panel-heading date"></div>
        </div>
    </div>
</div>
