.map-container {
    margin-top: 78px;
    height: calc(100vh - 78px);
    display: flex;
    position: relative;
}
#vmap {
    flex: 1;
}

.floating-details {
    position: absolute; 
    bottom: 0;
    z-index: 333;
    max-width: 20%;
    min-width: 130px;
    width: 100%;
    margin: 10px;
}
.panel-heading {
    font-size: large;
    font-weight: 700;
}

.panel-heading.date {
    font-weight: 600;
    font-size: medium;
}

.panel-body {
    font-family: 'Iceland', cursive;
    font-size: 28px;
}

#floating-data {
    display: none;
}


@media screen and (max-width: 1400px) {
    .map-container {
        margin-top: 60px;
        height: calc(100vh - 60px);
    }
    .panel-heading {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
    
    .panel-body {
        font-size: 20px;
        margin: 0;
        padding: 0;
        height: 25px;
        font-family: 'Segoe UI', sans-serif;
    }
    .panel {
        margin: 5px;
    }
}