<main>
    <div class="left">
       <!-- <table>
           <tr>
               <td>cases</td>
               <td></td>
           </tr>
           <tr>
                <td>deaths</td>
                <td></td>
            </tr>
            <tr>
                <td>recovered</td>
                <td></td>
            </tr>
            <tr>
                <td><button class="btn btn-danger">clickme</button></td>
                <td></td>
            </tr>
       </table> -->
       <div *ngIf="data!=null" class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Total Cases</div>
                <div class="panel-body">{{data.cases}}</div>
            </div>
        
            <div class="panel panel-success">
                <div class="panel-heading">Recovered</div>
                <div class="panel-body">{{data.recovered}}</div>
            </div>
        
            <div class="panel panel-danger">
                <div class="panel-heading">Deaths</div>
                <div class="panel-body">{{data.deaths}}</div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading date">Last updated on {{data.updated | date: 'dd-MMM-yyyy' | uppercase}}</div>
            </div>
        </div>
    </div>
    <div class="middle">
        <img class="fivedos" src="../../assets/fivedos.gif" alt="Welcome">
    </div>
    <div class="right">
        
    </div>
</main>