main {
    min-height: calc(100vh - 78px);
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left, .middle, .right {
    flex: 1; 
}


.fivedos {
    max-width: 100%;
    width: 550px;
    border-radius: 20px;
    box-shadow: 3px 4px 18px #888888;
}

.left {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.right {
    display: flex;
    justify-content: center;
    padding: 30px;
    min-width: 0;
}
.dough-css {
    width: 100%;
}
.panel-group {
    width: 100%;
    max-width: 400px;
}

.panel-heading {
    font-size: large;
    font-weight: 700;
}

.panel-heading.date {
    font-weight: 600;
    font-size: medium;
}

.panel-body {
    font-family: 'Iceland', cursive;
    font-size: 28px;
}


@media screen and (max-width: 1400px) {
    main {
        flex-direction: column;
    }
    .middle {
        order: 1;
    }
    .left {
        order: 2;
    }
    .right {
        order: 3;
    }
    .fivedos {
        width: 80%;
        max-width: 600px;
    }
    .left {
        padding: 25px;
        width: 100%;
    }
    .right {
        margin-top: -50px;
        width: 100%;
        height: 100%;
    }
}