* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', sans-serif;
    /* font-family: 'Iceland', cursive; */
    text-align: center;
    background: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);
}